{{# each pubList}}
<div class="publication"  id="accordion">
  <h2 class="title">{{this.title}}
    <a href="#" class="author-ref">By {{this.author}} / date</a>
  </h2>
  <h3 class="subtitle">{{this.subtitle}}</h3>
  <hr>
  <div id="collapseThree" class="collapse"  data-parent="#accordion">
    <p class="article-p">{{this.content}}<img src="/images/demo-blog1.jpg" width="100%">
    </p>
    <hr>
    <p class="p-tools">
        <b class="color-theme">{{this.likes}}</b><small class="d-none d-md-inline"> Me gusta</small>&nbsp;
        <a href="#" class="likes"><i class="fa fa-thumbs-up"></i></a>
        &nbsp;|&nbsp;
        <b class="color-theme">{{this.dislikes}}</b><small class="d-none d-md-inline"> No me gusta</small>&nbsp;
        <a href="#" class="likes"><i class="fa fa-thumbs-down"></i></a>
    </p>
    <p class="p-tags">
      <a href="#" class="tag d-inline d-md-none">Cultura <i class="fa fa-tags"></i>&nbsp;</a>
      <a href="#" class="tag d-none d-md-inline">Mexico <i class="fa fa-tag"></i>&nbsp;</a>
      <a href="#" class="tag d-none d-md-inline">Cultura <i class="fa fa-tag"></i>&nbsp;</a>
      <a href="#" class="tag d-none d-md-inline">Opinion <i class="fa fa-tag"></i>&nbsp;</a>
    </p>
  </div>
  <div>
    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Ver más ...
    </a>
  </div>
</div>
{{/each}}
